.todo-item_text{
	color:#666;
	font-size: 24px;

	border: none;
	outline: none;
 	margin-left:10px;
 	margin-top: 20px;
 	word-break: break-all;


	overflow: hidden;
    align-self: flex-start;
    flex: 1 0;
    order: 10;
}

.todo-item.__completed .todo-item_text{
	color:#ccc;
	font-size: 24px;
	text-decoration: line-through;
}

.todo-item:hover .todo-item_text{
	background-color: #fafafa;
}