.todo-action-bar_counter-not-completed{
	font-family: 'Helvetica Neue', Arial, sans-serif; 
	color: #888;
	font-size: 14px;
	background-color: #fff;
}
.todo-action-bar_counter-not-completed{
	float:left;
	word-break: break-all;
	margin-top: 10px;
	width:30%;
}