@font-face {
    font-family: HelveticaNeue-UltraLight;
    src: url("fonts/HelveticaNeue-UltraLight.otf");
}

@font-face {
    font-family: HelveticaNeue-LightItalic;
    src: url("fonts/HelveticaNeue-LightItalic.otf");
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url("fonts/HelveticaNeue-Light.otf");
}


body{
	background-color: #f5f5f5;
}

.todo-header .todo-title{
	font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
	color:#ebd7d7;
	font-size:100px;
	padding: 0;
	margin:0;
	text-align: center;
	font-weight:lighter;
}

.todo-main{
	font-family: HelveticaNeue-Light, Helvetica, sans-serif;
	margin:auto;
	width: 560px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	min-height: 400px;
}

.todo-add{
	height: 62px;
	border-bottom: solid 1px #e6e6e6;
}

.todo-add_select-all{
	float: left;
	margin-top: 27px;
	margin-left: 19px;
	background: url('icons/select-all.png') no-repeat;
	border: none;
	width: 24px;
    height: 24px;
    cursor: pointer;
}

.todo-add_input{
	font-family: HelveticaNeue-LightItalic, Helvetica, sans-serif;
	float:left;
	width:500px;
	margin-left: 15px;
	margin-top: 15px;
	border: none;
	outline: none;
}

.todo-add_input, .todo-item_text{
	color:#666;
	font-size: 24px;

}

.__completed .todo-item_text{
	color:#ccc;
	font-size: 24px;
	text-decoration: line-through;
}

.todo-add_input::-webkit-input-placeholder {
	color:#ccc;
	font-style:italic;
	font-weight:100;
}

.todo-add_input::-moz-placeholder {
	color:#ccc;
	font-style:italic;
	font-weight:100;
}
.todo-add_input:-moz-placeholder {
	color:#ccc;
	font-style:italic;
	font-weight:100;
}
.todo-add_input:-ms-input-placeholder {
	color:#ccc;
	font-style:italic;
	font-weight:100;
}

.todo-list{
	border-bottom: 1px solid #e6e6e6;
	margin: 0 auto -2px;
    min-height: 300px;
}

.todo-item{
	border-bottom: solid 1px #e6e6e6;
	min-height: 62px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

input[type="checkbox"]{
	display: none;
}

.for-checkbox-label{
	width:32px;
	height: 32px;
	display: inline-block;
	position: absolute;
	left: 0; 
	top:50%;
	margin-top: -16px;
}
input[type="checkbox"] + .for-checkbox-span{
	position: absolute;
	left: 0; 
	top:0;
	width: 100%;
	height: 100%;
	background-color:#fff ;
	cursor: pointer;
	margin-left: 11px;
	border: solid 1px #d5d5d5;
	border-radius: 50%;
	padding: 0;
}

input[type="checkbox"]:checked + .for-checkbox-span{
	background: url(icons/completed.png) no-repeat 5px;
	border: solid 1px #81d0c1;
}


.todo-item_mark{
    float: left; 
    margin-left: 11px;
}

.todo-item_text{
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
 	margin-left:54px;
 	margin-top: 20px;
 	margin-right: 35px;
 	word-break: break-all;
}

button{
  border:none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.todo-item_remove{
	width: 18px; 
    height: 18px; 
    float: right; 
    margin-right: 11px;
    margin-bottom: 20px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}
 
.todo-item:hover, .todo-item:hover .todo-item_text{
	background-color: #fafafa;
}

.todo-item:hover .todo-item_remove{
	background: url("icons/close.png") no-repeat;
}

.todo-item:after{
	content: '';
	display: block;
	clear: both;
}

.todo-action-bar{
	height: 40px;
	padding-right:12px; 
	padding-left:12px;
}

.todo-action-bar_filtres_item,
.todo-action-bar_clear-completed, .todo-action-bar_counter-not-completed{
	font-family: HelveticaNeue-Light, Helvetica, sans-serif;
	color: #888;
	font-size: 14px;
}
.todo-action-bar_counter-not-completed{
	float:left;
	padding-top: 10px;
}

.todo-action-bar_clear-completed{
	float:right;
	padding-top: 10px;

}

.todo-action-bar_filtres{
	float:left;
	margin-left: 114px;
	padding-top: 8px;
}

.__active {
    border: 2px solid #e6e6e6;
    border-radius: 5px;
}

.todo-action-bar:after{
	content: '';
	display: block;
	clear: both;
}

.bottom-border_item{
	background-color: inherit;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	height: 5px;
}

.__first{
	margin:auto;
	width:556px;
}
.__second{
	margin:auto;
	width:552px;
}