.todo-action-bar_filtres_item{
	font-family: 'Helvetica Neue', Arial, sans-serif; 
	color: #888;
	font-size: 14px;
	background-color: #fff;
	word-break: break-all;
	max-width:32%;
}

.todo-action-bar_filtres{
	float:left;
	margin-top: 8px;
	width:48%;
}

.todo-action-bar_filtres .__active {
    border: 2px solid #e6e6e6;
    border-radius: 5px;
}