.todo-item_remove{
	width: 18px; 
    height: 18px; 
    margin-right: 11px;
    margin-bottom: 20px;
    float: right; 
    align-self: flex-end;
    order: 59;
}

.todo-item:hover .todo-item_remove{
	background: url("../../../icons/close.png") no-repeat;
}