.todo-item_remove{
	width: 18px; 
    height: 18px; 
    float: right; 
    margin-right: 11px;
    margin-bottom: 20px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.todo-item:hover .todo-item_remove{
	background: url("../../../icons/close.png") no-repeat;
}