@import "../../config/globals";

.todo-main{
	width: 560px;
	background-color: $c-white;
	box-shadow: 0 2px 4px $c-shadow;
	min-height: 400px;
	position: relative;
	margin: 0 $offset_4x $offset_4x;
}
	.todo-main:before, .todo-main:after{
		position: absolute;
		background: $c-white;
		box-shadow: 0 2px 4px $c-shadow;
		top: 100%;
		z-index: -1;
	}

	.todo-main:after{
		height: 4px;
		left: 2px;
		right: 2px;
	}

	.todo-main:before{
		height: 8px;
		left: 4px;
		right: 4px;
	}

	.todo-main.__has-todo:before, .todo-main.__has-todo:after {
		content: '';
	}

	.todo-main .todo-list,.todo-main .todo-action-bar {
		display: none;
	}
	.todo-main.__has-todo .todo-list,.todo-main.__has-todo .todo-action-bar {
		display: block;
	}
