@import "../../config/globals";

.input-checkbox {
    position: relative; 
    width: 42px; 
    height: 42px; 
    } 
    .input-checkbox_target { 
        opacity: 0;
        @include absolute-full();
        z-index: 1;
        cursor:pointer;
    }
        .input-checkbox_target:checked ~ .input-checkbox_visual {
            border: solid 1px $c-green-checkbox;
            background: url('../../../images/completed.png') no-repeat 5px;
            @include retinaMedia(){
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 50% 50%;
                background-image: url('../../../images/completed@2x.png');
            }

        }


    .input-checkbox_visual {
        position: absolute; 
        top: 10%; 
        right: 10%; 
        bottom: 10%; 
        left: 10%; 
        background-color: $c-white;
        border-radius: 50%; 
        border: solid 1px $c-gray-border;
    }


