.bottom-border_item{
	background-color: inherit;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	height: 5px;
}

.bottom-border_item.__first{
	margin:auto;
	width:556px;
}
.bottom-border_item.__second{
	margin:auto;
	width:552px;
}