@import "../../config/globals";

.todo-action-bar_filtres_item{
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: $c-gray-bar-text;
  font-size: $fs_little;
  background-color: $c-white;
}



.todo-action-bar_filtres .__active {
  border: 2px solid $c-light-gray-border;
  border-radius: 5px;
}