@mixin reset-input{
  background: none;
  border: 0;
  outline: none;
}

@mixin placeholder(){
  .todo-add_input::-webkit-input-placeholder {
    @content
  }

  .todo-add_input::-moz-placeholder {
    @content
  }
  .todo-add_input:-moz-placeholder {
    @content
  }
  .todo-add_input:-ms-input-placeholder {
    @content
  }
}