.input-checkbox { 
    position: relative; 
    width: 42px; 
    height: 42px; 
    } 
    .input-checkbox_target { 
        opacity: 0; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        z-index: 1; 
        } 
    .input-checkbox_visual { 
        position: absolute; 
        top: 10%; 
        right: 10%; 
        bottom: 10%; 
        left: 10%; 
        background-color: #fff; 
        border-radius: 50%; 
        border: solid 1px #d5d5d5;
        }

.input-checkbox_target:checked ~ .input-checkbox_visual { 
    background: url('../../../icons/completed.png') no-repeat 5px;
	border: solid 1px #81d0c1;
    } 

 .input-checkbox_target:hover{
	cursor: pointer;
 }

