@import "../../config/globals";

.input-checkbox {
    position: relative; 
    width: 42px; 
    height: 42px; 
    } 
    .input-checkbox_target { 
        opacity: 0; 
        @include absolute-full();
        z-index: 1; 
        } 
    .input-checkbox_visual { 
        position: absolute; 
        top: 10%; 
        right: 10%; 
        bottom: 10%; 
        left: 10%; 
        background-color: $c-white;
        border-radius: 50%; 
        border: solid 1px $c-gray-border;
        }

.input-checkbox_target:checked ~ .input-checkbox_visual { 
    background: url('../../../images/completed.png') no-repeat 5px;
	border: solid 1px $c-green-checkbox;
    } 

 .input-checkbox_target:hover{
	cursor: pointer;
 }

