@import "../../config/globals";

.filtres_item{
  font-family: $font-main;
  color: $c-gray-bar-text;
  font-size: $fs_little;
  background-color: $c-white;
  border: none;
  outline: none;
}



.filtres_item.__active {
  border: 2px solid $c-light-gray-border;
  border-radius: 5px;
}